REACH_DB_HOST=127.0.0.1
REACH_DB_NAME=reach_travel
REACH_DB_USER=root
REACH_DB_PASSWORD=
REACH_MAIL_TO=pankaj.acet.1994@gmail.com
REACH_MAIL_FROM=travelsmtpreachdream@gmail.com
REACH_SMTP_HOST=smtp.gmail.com
REACH_SMTP_PORT=465
REACH_SMTP_USER=
REACH_SMTP_PASSWORD=
